.body-container {
  padding: 20px 40px;
  width: 100%;
  margin-top: 84px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
}
.commissions-type-container {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

.commissions-type-container .commissions-type-button {
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid var(--fourtiary);
  border-radius: 10px;
  color: var(--primary-text);
  font-weight: 400;
  &:hover {
    border-color: 1px solid var(--secondary-text);
  }
}
.commissions-type-container .active {
  background-color: var(--second-background);
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-filter-container {
  position: relative;
  width: 480px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  gap: 7px;
  border: 1px solid #5f5f60;
}

.search-filter {
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  color: var(--secondary-text);
  font-family: "Inter", sans-serif;
  font-size: 17px;
}
.commissions-list {
  border-radius: 10px;
}
