.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  border-radius: 8px;
  padding: 0 15px;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  white-space: nowrap;
}

.whiteButton {
  border: 1px solid var(--fourtiary);
  background-color: var(--white);
  color: var(--primary-text);
  &:hover {
    cursor: pointer;
    background-color: var(--hover);
  }
  &:active {
    background-color: var(--second-background);
  }
}

.blackButton {
  border: 1px solid var(--fourtiary);
  background-color: var(--primary-text);
  color: var(--white);
  &:hover {
    cursor: pointer;
    background-color: var(--hover);
  }
  &:active {
    background-color: var(--second-background);
  }
}
.active {
  background-color: var(--hover);
}
