#root {
  width: 100vw;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #5f5f60;
}

.navbar-container {
  padding: 0 60px;
  background-color: #f2f2f2;
  height: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #5f5f60;
  justify-content: space-between;
}
.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.search-bar-container {
  background-color: #e6e6e6;
  width: 480px;
  height: 45px;
  border-radius: 20px;
}

.right-content-container {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.profile-img-container {
  background-color: #5f5f60;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
