.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: background-color 0.3s ease;
  border-radius: 15px;
  &:hover {
    cursor: pointer;
    background-color: var(--second-background);
  }
}

.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

}

.layout svg {
  color: var(--secondary-text);
}